@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background: #2f4f4f;
  font-family: "Poppins";
}

.kalkulator {
  width: 335px;
  background: #2f4f4f;
  margin: 100px auto;
  padding: 10px 20px 50px 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px black;
}

.bil {
  width: 300px;
  margin: 5px;
  border: none;
  font-size: 16pt;
  border-radius: 3px;
  padding: 10px;
}

.opt {
  font-size: 16pt;
  border: none;
  width: 215px;
  margin: 5px;
  border-radius: 3;
  padding: 10px;
}

.tombol {
  background: #ec5159;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 3px;
  padding: 10px 20px;
  color: #eee;
  font-size: 15pt;
  border-bottom: 4px solid #bf3d3d;
}
.brand {
  color: #eee;
  font-size: 11pt;
  float: right;
  text-decoration: none;
  margin: 12px;
}
.judul {
  text-align: center;
  color: #eee;
  font-weight: normal;
}
